{% extends "base.html" %}


{% block title %}
	List
{% endblock title %}

{% block content %}
	<br>
	<form action="{% url 'article-list' %}" method="GET">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Search for article..." aria-label="Search" name="q">
		  <div class="input-group-append">
		    <input type="submit" class="input-group-text" value="Search" >
		  </div>
		</div>
	</form>
	<div class="row">
		{% for article in articles %}
			<div class="col-sm-6">
				<div class="card">
					{% if article.image %}
						<img class="card-img-top" src="{{article.image.url}}" alt="Card image cap">		
					{% endif %}
				  <div class="card-body">
				    <h5 class="card-title">{{article.title}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted"> written by:{{article.author}}</h6>
				    <p class="card-text">{{article.content}}</p>
				    <p class="card-text">{{article.created|timesince}}</p>
				    <p class="card-text">{{article.publish_date|timesince}}</p>
				    <button class="btn btn-secondary" onclick="light_me_up_g({{article.id}})">
				    	<span id="heart-number-{{article.id}}">{{article.like_set.count}}</span>
				    	<i id="heart-color-{{article.id}}"
				    	   class="fas fa-heart {% if article in my_likes %}text-danger{% endif %}"></i>
				    </button>
				    <br>
				    
				    <a href="{% url 'article-update' article_id=article.id %}" class="btn btn-outline-info">Update</a>
				    <a href="{% url 'article-delete' article_id=article.id %}" class="btn btn-outline-danger">Delete</a>
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>

<script>
	function light_me_up_g(id){
		$.ajax({
			type:"GET",
			url: "/like/"+id,
			error:function(){
				console.log("Noob, you couldn't do it.")
			},
			success: function(data){
				console.log(data);
				$("#heart-number-"+id).text(data.count);
				if(data.action==="like"){
					$("#heart-color-"+id).addClass("text-danger");
				}
				else{
					$("#heart-color-"+id).removeClass("text-danger");
				}
			}
		})
	}
</script>
{% endblock content %}